@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


*{
  background-color: #25252A;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h2{
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-shadow:2px 0 #232931;
  color: #4ECCA3;
  
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: 10rem;
  text-align: center;
  min-height: 50vh;
}


.btn1{
  width: 300px;
  height: 100px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid #42FBF2;
  position: relative;
  z-index: 1;
}

.btn1:hover {
  color: #fff;
  cursor: pointer;
}

 .btn1:before {
   transition: 0.5s all ease;
   position: absolute;
   top: 0;
   left: 50%;
   right: 50%;
   bottom: 0;
   opacity: 0;
   content: "";
   background-color: #42FBF2;

 }

 .btn1:hover:before {
  transition:0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
 
.btn2{
  width: 300px;
  height: 100px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid #42FBF2;
  position: relative;
  z-index: 1;
}

.btn2:hover {
  color: #fff;
  cursor: pointer;
}

 .btn2:before {
   transition: 0.5s all ease;
   position: absolute;
   top: 0;
   left: 50%;
   right: 50%;
   bottom: 0;
   opacity: 0;
   content: "";
   background-color: #42FBF2;

 }

 .btn2:hover:before {
  transition:0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;}

  .btn3{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid #42FBF2;
    position: relative;
    z-index: 1;
  }
  
  .btn3:hover {
    color: #fff;
    cursor: pointer;
  }
  
   .btn3:before {
     transition: 0.5s all ease;
     position: absolute;
     top: 0;
     left: 50%;
     right: 50%;
     bottom: 0;
     opacity: 0;
     content: "";
     background-color: #42FBF2;
  
   }
  
   .btn3:hover:before {
    transition:0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;}

    .btn4{
      width: 300px;
      height: 100px;
      border: none;
      color: white;
      border-radius: 4px;
      transition: ease-out 0.3s;
      font-size: 2rem;
      outline: none;
      border: 3px solid #42FBF2;
      position: relative;
      z-index: 1;
    }
    
    .btn4:hover {
      color: #fff;
      cursor: pointer;
    }
    
     .btn4:before {
       transition: 0.5s all ease;
       position: absolute;
       top: 0;
       left: 50%;
       right: 50%;
       bottom: 0;
       opacity: 0;
       content: "";
       background-color: #42FBF2;
    
     }
    
     .btn4:hover:before {
      transition:0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -1;}

      .btn5{
        width: 300px;
        height: 100px;
        border: none;
        color: white;
        border-radius: 4px;
        transition: ease-out 0.3s;
        font-size: 2rem;
        outline: none;
        border: 3px solid #42FBF2;
        position: relative;
        z-index: 1;
      }
      
      .btn5:hover {
        color: #fff;
        cursor: pointer;
      }
      
       .btn5:before {
         transition: 0.5s all ease;
         position: absolute;
         top: 0;
         left: 50%;
         right: 50%;
         bottom: 0;
         opacity: 0;
         content: "";
         background-color: #42FBF2;
      
       }
      
       .btn5:hover:before {
        transition:0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;}

        .abtpython{
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 2rem;
          color: #42FBF2;
        }

        .whether{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1.5rem;
          color:#fff;
        position: relative;
        z-index: 1;
        }

        .abtpython{
          position: relative;
        bottom: 17rem;
        }

        .whatispython{
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 2rem;
          color: #42FBF2;

        }

        .genpurpose{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1.5rem;
          position: relative;
          z-index: 1;
          color: #fff;
          
        }
        .faq1{
          position: relative;
          bottom: 15rem;
        }

        .difference{
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 2rem;
          color: #42FBF2;
        }
        
        .answer{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1.5rem;
          position: relative;
          z-index: 1;
          color: #fff;
        
        }

        .pythonvsr{
          position: relative;
          bottom: 11rem;
        }





      

      

